@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'sans-serif';
    list-style: none;
}

#check {
    display: none;
}
label{
    position: absolute;
    z-index: 2;
}


.nav-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    background-color: aqua;
    left: -50vw;
    padding-top: 50px;
    transition: .5s all;
}

ul {
    text-align: center;
}

ul li {
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.main-container {
    transition: .5s all;
}

#check:checked ~ .nav-container {
    left: 0;
}

#check:checked ~ .main-container {
    margin-left: 50vw;
}



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: royalblue;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blueviolet;
    text-align: center;
    font-size: 23px;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
}


label span {
    margin: 15px;
    display: block;
    position: fixed;
    width: 25px;
    border-bottom: 3px solid black;
}

label span::after, label span::before {
    margin-top: 5px;
    margin-bottom: 5px;
    content: '';
    display: block;
    width: 25px;
    border-bottom: 3px solid black;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: white;
}


::-webkit-scrollbar-track {
    background: black;
}
